exports.default = async function buildConfig() {
  return [
    {
      id: {{{id}}},
      name: {{{id}}},
      class: "schedule",
      sourceId: "mailchimpSource", // The id of the Source this Schedule uses
      recurring: true, // should this Schedule regularly run?
      recurringFrequency: 1000 * 60 * 15, // 15 minutes, in ms
    },
  ];
};
