# Note: These are only needed when recording new nock fixtures
INTERCOM_TOKEN = "dG5sOhY5NjA5ZWI2Z5P2ZDYfNGU3Yl8iMWU2X2U0N2Q7QmFlMmJhMjoxOjA="

# The intercom instance should have some attributes added (one for each type)
# text_field
# number_field (integer)
# decimal_field (float)
# boolean_field
# date_field (datetime)
# list_field (enum: Red, Blue, Green)

