MAILCHIMP_API_KEY=632d084f1bb6ff63e8336bd4864373ed-us3
MAILCHIMP_SOURCE_LIST_ID=a36b032126

# This audience should have a few fields set up
# USERID: number
# LTV: number
# FNAME: string
# LNAME: string
# Then load in data/profiles.csv