MAILCHIMP_API_KEY=f4k3f4k3f4k3f4k3f4k3f4k3f4k3f4k3-us3
MAILCHIMP_SOURCE_LIST_ID=a36b032126
MAILCHIMP_DESTINATION_LIST_ID=a36b032126

# These audiences should have a few fields set up
# FNAME: string
# LNAME: string
# USERID: number
# LTV: number
# JOINED_AT: date
# Then load data/profiles.csv into the source list
# This should make all the last_changed the same which is less than ideal, but the test assumes it
