MAILCHIMP_API_KEY=632d084f1bb6ff63e8336bd4864373ed-us3
MAILCHIMP_SOURCE_LIST_ID=a36b032126
MAILCHIMP_DESTINATION_LIST_ID=26d8e9db1e

# These audiences should have a few fields set up
# FNAME: string
# LNAME: string
# USERID: number
# LTV: number
# Then load data/profiles.csv into the source list
# This should make all the last_changed the same which is less than ideal, but the test assumes it
