exports.default = async function buildConfig() {
  return [
    {
      class: "app",
      id: {{{id}}},
      name: {{{id}}},
      type: "events",
      options: {
        identifyingPropertyId: "...", // The id of a Grouparoo property to be used to identify data in the 'identify' event to link those events to profiles. Often "user_id" or similar.
      },
    },
  ];
};
