exports.default = async function buildConfig() {
  return [
    {
      class: "app",
      id: {{{id}}},
      name: {{{id}}},
      type: "events",
      options: {
        identifyingPropertyGuid: "user_id", // The guid of a Grouparoo property to be used to identify data in the 'identify' event to link those events to profiles.
      },
    },
  ];
};
