exports.default = async function buildConfig() {
  return [
    {
      class: "app",
      id: {{{id}}},
      name: {{{id}}},
      type: "{{{__pluginName}}}",
      options: {
        adAccountId: "...", // Number from your settings and in the URL - e.g. `adAccountId: "562677826929881"`
        accessToken: "...", // The Access Token needs the ads_management permission
      }
    },
  ];
};
