# General
node_modules
.DS_Store
.vscode
npm-debug.log
yarn-error.log
.env
dump.rdb
newrelic_agent.log
*.retry
coverage

# API
log
pids
dist
core/api/files
core/api/report.*.json
core/api/docs
core/api/gh-pages

# Web
.next
web/out
core/web/public/javascript/*

# Builds
*.tgz
tmp
lerna-debug.log
