# General
node_modules
.DS_Store
.vscode
npm-debug.log
yarn-error.log
.env
dump.rdb
newrelic_agent.log
*.retry
coverage

# API
api/public/javascript/ActionheroWebsocketClient.js
api/public/javascript/ActionheroWebsocketClient.min.js
log
pids
dist

# Web
.next
web/out

# Builds
*.tgz
tmp
core/README.md
lerna-debug.log
