# General
node_modules
.DS_Store
.vscode
npm-debug.log
yarn-error.log
.env
dump.rdb
newrelic_agent.log
*.retry
coverage
*.sqlite
*.sqlite-journal
apps/*/config/*

# API
log
pids
dist
api/test/files
api/report.*.json
api/docs
api/gh-pages

# Web
.next
!ui/*/log
web/out
core/public/javascript/*
ui/public/javascript/*

# Builds
*.tgz
tmp
lerna-debug.log
