exports.default = async function buildConfig() {
  return [
    {
      class: "app",
      id: {{{id}}},
      name: {{{id}}},
      type: "{{{__pluginName}}}",
      options: {
        apiKey: "...", // Mixpanel API token
        username: "...", // Mixpanel API username
        secret: "...", // Mixpanel API secret
        projectId: "...", // Mixpanel project id
      }
    },
  ];
};
