  {{{job_name}}}:
    environment:
      GROUPAROO_TELEMETRY_ENABLED: "false"
    docker:
      - image: {{{docker_image}}}
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
{{{custom_docker}}}
    steps:
      - checkout
{{{restore_cache}}}
{{{custom_steps}}}
      - run:
          name: install pnpm
          command: sudo npm install -g pnpm
      - run:
          name: {{{name}}}
          command: {{{command}}}
