  {{{job_name}}}:
    docker:
      - image: circleci/node:12
{{{custom_docker}}}
    steps:
      - checkout
      - run:
        name: generate combined_package_lock
        command: ./bin/buildCombinedLockfile
      - restore_cache:
          <<: *cache-options
{{{custom_steps}}}
      - run:
          name: {{{name}}}
          command: {{{command}}}
