exports.default = async function buildConfig() {
  return [
    {
      class: "apiKey",
      id: {{{id}}},
      name: {{{id}}},
      apiKey: "API KEY HERE", // you can hard-code the API key you want to use, or source it from `process.env.PRODUCTION_API_KEY`
      options: {
        permissionAllRead: false, // Does this API Key have read permission to all topics?
        permissionAllWrite: false, // Does this API Key have write permission to all topics?
      },
    },
  ];
};
