#############
## GENERAL ##
#############

PORT=3000
WEB_URL=http://localhost:3000

WEB_SERVER=true
SCHEDULER=true
WORKERS=1
SERVER_TOKEN=change_me

#############
## LOGGING ##
#############

# GROUPAROO_LOGS_STDOUT_DISABLE_COLOR=true
# GROUPAROO_LOGS_STDOUT_DISABLE_TIMESTAMP=true
# GROUPAROO_LOGS_PATH="/path/to/logs"

###########
## REDIS ##
###########

REDIS_URL="redis://localhost:6379/0"

##############
## DATABASE ##
##############

DATABASE_URL="postgresql://localhost:5432/grouparoo_development"
# DATABASE_SSL=true

########
## S3 ##
########

S3_ACCESS_KEY=""
S3_SECRET_ACCESS_KEY=""
S3_REGION=""
S3_BUCKET=""

############
## GOOGLE ##
############

GOOGLE_API_KEY=""
GOOGLE_CLIENT_ID=""
