exports.default = async function buildConfig() {
  return [
    {
      class: "app",
      id: {{{id}}},
      name: {{{id}}},
      type: "{{{__pluginName}}}",
      options: {
        filename: "logger.log", // the file log to
        stdout: "true", // should we also log to the Grouparoo process's stdout?
      }
    },
  ];
};
