HUBSPOT_API_KEY = "a31ef454-1835-4b88-8d3a-eefc0b688ded"
HUBSPOT_OAUTH_REFRESH_TOKEN = "faux-refresh-token"
GROUPAROO_AUTH_URL = "https://auth.hubspot.com"


# The HubSpot account should have a few custom fields pre added
# there is one for each main types of field
# Text, Number, Date
# text_field   (Single line text)
# number_field (Number)
# date_field   (Date picker)
#
# The HubSpot account should have a custom objects called grouparoo_object with some fields pre added
# grouparoo_object_property   (String)
# first_name                  (String)
# last_name                   (String)
# text_field                  (String)
# number_field                (Number)
