exports.default = async function buildConfig() {
  return [
    {
      class: "source",
      id: {{{id}}},
      name: {{{id}}},
      type: "manual",
      appId: "manualApp", // The id of the app this source uses
    }
  ];
};
