  publish:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - restore_cache:
          <<: *cache-options
      - add_ssh_keys:
          fingerprints:
            - 49:46:31:67:74:97:c4:66:44:79:89:67:29:41:89:96
      - run: git config --global user.email "hello@grouparoo.com"
      - run: git config --global user.name "Grouparoo Bot"
      - run: npm run prepare
      - run: ./bin/publish
