  publish:
    docker:
      - image: circleci/node:14
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
    steps:
      - checkout
{{{restore_cache}}}
      - add_ssh_keys:
          fingerprints:
            - 49:46:31:67:74:97:c4:66:44:79:89:67:29:41:89:96
      - run: git config --global user.email "hello@grouparoo.com"
      - run: git config --global user.name "Grouparoo Bot"
      - run: sudo npm install -g pnpm
      - run: ./bin/publish
