SENDGRID_API_KEY = "SG.jklçsdaoipwerfhklvds907akjlçsdfjklçsdf7890124-9=rjnklgdfçjklfgd890"


# The sendgrid account should have a few custom fields pre added
# there is one for each type of field
# Text, Number, Date
# text_field (Text)
# number_field (Number)
# date_field (Date)
