// -- Variables --
@import "_variables.scss";

// define colors we don't use elsewhere as bootstrap elements
:root {
  --grouparoo-background-blue: #{$grouparoo-background-blue};
  --grouparoo-light-blue: #{$grouparoo-light-blue};
  --grouparoo-violet: #{$grouparoo-violet};
}

@import "~bootstrap/scss/bootstrap";

// Page Defaults

body {
  background-color: $grouparoo-background-blue;
  font-family: $font-body;
  font-weight: 300;
  font-size: 14px;
  color: $grouparoo-dark-gray;
}

// -- Typography --

.text-big-muted {
  @extend .text-muted;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

header {
  font-weight: 400;
}

table a {
  font-weight: 500;
}

// -- hr --

hr {
  border: 1px solid $grouparoo-light-blue;
}

hr.dark {
  border-color: $grouparoo-solid;
}

// -- Navigation --

.slide-in {
  animation: slide-in 0.5s forwards;
}

.slide-out {
  animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

// Selector List

.selector-list {
  background-color: $grouparoo-dark-gray;
}

.selector-list-selected {
  background-color: $grouparoo-violet;
}

// bordered columns

.border-between-columns > [class*="col"]:before {
  background: $grouparoo-light-gray;
  bottom: 0;
  content: " ";
  left: 0;
  position: absolute;
  width: 1px;
  top: 0;
}

.border-between-columns > [class*="col"]:first-child:before {
  display: none;
}

// -- External Components --

@import "~@fortawesome/fontawesome-svg-core/styles.css";
@import "~react-bootstrap-typeahead/css/Typeahead.css";
@import "~swagger-ui-dist/swagger-ui.css";
@import "./nprogress.scss";

// -- Theme Overrides

.nav-item.nav-link.active {
  font-weight: 500;
  background-color: $grouparoo-background-blue;
  border-bottom: $grouparoo-background-blue;
}
