# Note: These are only needed when recording new nock fixtures
SALESFORCE_USERNAME = "demo@grouparoo.com"
SALESFORCE_PASSWORD = "jhfd!kjdgd43h"
SALESFORCE_SECURITY_TOKEN = "986273e87a3d9725fe3755c"

# Default Salesforce account

# Contact Object needs an external id string field added: Custom_External_ID (Custom_External_ID__c)