# Note: These are only needed when recording new nock fixtures
SALESFORCE_USERNAME = "demo@grouparoo.com"
SALESFORCE_PASSWORD = "jhfd!kjdgd43h"
SALESFORCE_SECURITY_TOKEN = "986273e87a3d9725fe3755c"
SALESFORCE_DOMAIN = "https://login.salesforce.com"

# Default Salesforce account

# Contact Object needs some fields added
# Custom_External_ID (Custom_External_ID__c): an external id string field
# And one for each supported type:
# checkbox_field (default false) (checkbox_field__c)
# datetime_field (datetime_field__c)
# number_field (number_field__c)
# email_field (email_field__c)
# percent_field (no decimals) (percent_field__c)
# phone_field (phone_field__c)
# picklist_field (enum: Red, Blue, Green) (picklist_field__c)
# text_field (text_field__c)
# textarea_field (textarea_field__c)
# url_field (url_field__c)
# currency_field (currency_field__c)
# date_field (date_field__c)

# Account Object needs some fields added
# email_field (email_field__c)
# Custom_External_ID (Custom_External_ID__c)
