exports.default = async function buildConfig() {
  return [
    {
      class: "source",
      id: {{{id}}},
      name: {{{id}}},
      type: "{{{__pluginName}}}-query-import",
      appId: {{{appId}}}, // The ID of the App this Source uses - e.g. `appId: "data_warehouse"`
    },
  ];
};
