# General
*.tgz
node_modules
.DS_Store
.vscode
npm-debug.log
yarn-error.log
.env
dump.rdb
newrelic_agent.log
*.retry
coverage
*.sqlite
*.sqlite-*

# API
log
pids
newrelic_agent.log
public/javascript/ActionheroWebsocketClient.js
public/javascript/ActionheroWebsocketClient.min.js
files/test*
