# Note: These are only needed when recording new nock fixtures
GOOGLE_SERVICE_CLIENT_EMAIL = "grouparoo-sample@sample-sources.iam.gserviceaccount.com"
GOOGLE_SERVICE_PRIVATE_KEY = "-----BEGIN PRIVATE KEY-----\nMII..."