exports.default = async function buildConfig() {
  return [
    {
      id: {{{id}}},
      class: "setting",
      pluginName: {{{plugin-name}}},
      key: {{{key}}},
      value: {{{value}}},
    },
  ];
};
