# Note: These are only needed when recording new nock fixtures
ZENDESK_SUBDOMAIN = "d3v-grouparoo"
ZENDESK_USERNAME = "example.user@grouparoo.com"
ZENDESK_TOKEN = "TdRrV1foBNoQ1tJRUhBsa7wJA8hONBHwV1rO87Cc"

# The zendesk account should be set up to have have a few user fields
# there is one for each type of field
# text_field, multiline_field, numeric_field, decimal_field, date_field
# checkbox_field: adds tag checkedbox
# regex_field: with regex to be lowercase.... [a-z]
# dropdown_field: with options apple, pear, banana