# Note: These are only needed when recording new nock fixtures
ZENDESK_SUBDOMAIN = "d3v-grouparoo"
ZENDESK_USERNAME = "example.user@grouparoo.com"
ZENDESK_TOKEN = "TdRrV1foBNoQ1tJRUhBsa7wJA8hONBHwV1rO87Cc"