exports.default = async function buildConfig() {
  return [
    {
      class: "app",
      id: {{{id}}},
      name: {{{id}}},
      type: "{{{__pluginName}}}",
      options: {
        siteId: "abc123", // Customer.io Site ID
        apiKey: "abc123" // Customer.io Track API Key
      }
    },
  ];
};
