exports.default = async function buildConfig() {
  return [
    {
      class: "app",
      id: {{{id}}},
      name: {{{id}}},
      type: "{{{__pluginName}}}",
      options: {
        siteId: "...", // Customer.io Site ID
        trackingApiKey: "...", // Customer.io Tracking API Key
        appApiKey: "..." // Customer.io App API Key
      }
    },
  ];
};
