exports.default = async function buildConfig() {
  return [
    {
      id: {{{id}}},
      name: {{{id}}},
      class: "schedule",
      sourceId: "...", // The ID of the Source this Schedule uses - e.g. `sourceId: "google_sheet_source"`
      recurring: true, // should this Schedule regularly run?
      recurringFrequency: 1000 * 60 * 15, // 15 minutes, in ms
    },
  ];
};
