version: "3"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        # [Choice] Node.js version: 14, 12, 10
        VARIANT: 14
        # On Linux, you may need to update USER_UID and USER_GID below if not your local UID is not 1000.
        USER_UID: 1000
        USER_GID: 1000

    volumes:
      - ..:/workspace:cached
      - /var/run/docker.sock:/var/run/docker.sock

    # Overrides default command so things don't shut down after the process ends.
    command: sleep infinity

    # Runs app on the same network as the database container, allows "forwardPorts" in devcontainer.json function.
    # network_mode: service:db
    network_mode: host

    # Uncomment the next line to use a non-root user for all processes.
    # user: node

  redis:
    image: bitnami/redis
    container_name: redis
    restart: unless-stopped
    network_mode: host
    # ports:
    #   - "6379:6379"
    environment:
      ALLOW_EMPTY_PASSWORD: "yes"

  db:
    image: postgres
    container_name: postgres
    restart: unless-stopped
    network_mode: host
    volumes:
      - db-data:/data/db
    # ports:
    #   - "5432:5432"
    environment:
      POSTGRES_PASSWORD: ""
      POSTGRES_HOST_AUTH_METHOD: "trust"
      POSTGRES_DB: "grouparoo_development"

volumes:
  db-data:
