exports.default = async function buildConfig() {
  return [
    {
      class: "app",
      id: {{{id}}},
      name: {{{id}}},
      type: "{{{__pluginName}}}",
      options: {
        subdomain: "companyname", // The `companyname` in companyname.zendesk.com
        username: "user", // Zendesk username, often the email address of an admin user
        token: "abc123", // Zendesk api token for the admin user
      }
    },
  ];
};
