# Note: These are only needed when recording new nock fixtures
MARKETO_ENDPOINT = "https://123-ABC-456.mktorest.com/rest"
MARKETO_IDENTITY = "https://123-ABC-456.mktorest.com/identity"
MARKETO_CLIENT_ID = "98628d43-73e8-7a3d-9725-f1fd7be3755c"
MARKETO_CLIENT_SECRET = "qZyFW90pDnrdHZTS4whWqTtqeVAjZlsT"

# The Marketo account should be set up to have a few custom fields
# for each supported type
# textarea_field
# boolean_field
# email_field
# integer_field
# float_field
# datetime_field
# score_field
# percent_field
# currency_field
# date_field
