MONGO_URI=mongodb://localhost:27017
MONGO_DATABASE_NAME=test_db_1

# In case you don't have a Mongo client running, you can use the MongoDB Docker image:
# docker run --name mongodb -d mongo
# Or you can install it:
#
# OSX
#brew tap mongodb/brew
#brew install mongodb-community
#brew services start mongodb/brew/mongodb-community
#
# For other OS please see https://docs.mongodb.com/manual/installation
