# Note: These are only needed when recording new nock fixtures
FACEBOOK_AD_ACCOUNT="542676646349772"
FACEBOOK_ACCESS_TOKEN="EAAKJ4ZBf45t4BAEgazqCLrZBRFZC0EgyZCpgkqhlqJ9RifPnhXky7WTeyHXA6oJhkj3zSrMqrSUnPmfiSyVEZB6RFua0xAkqwWoRA7zipl6yT5aAOijtKrzPmXUB9H7peJuLScCt9xQSiIMYYIcmIynFE5hCCugRruVZAqIJBMnigGapQTdgrAtFufPw3lA4CWgQpSlwbPzkuRZAcftFxMEQ26ndGpVlWxDcgYPzS3y7gZDZD"

# Access token needs ads_management and ads_read permission
# can make new token here: https://developers.facebook.com/tools/explorer
