exports.default = async function buildConfig() {
  return [
    {
      class: "app",
      id: {{{id}}},
      name: {{{id}}},
      type: "{{{__pluginName}}}",
      options: {
        hapikey: "...", // HubSpot API key. You can get the API key in HubSpot under Settings > Integrations > API Key.
      }
    },
  ];
};
