MJ_APIKEY_PUBLIC=7123879897327891238796729-1823-012
MJ_APIKEY_PRIVATE=dasjkioj89324897891238796729-3039-778

# The Mailjet account should have a few custom fields pre added
# there is at least one for each main types of field
# str, int, float, datetime
# phone        (str)
# country      (str)
# firstname    (str)
# lastname     (str)
# number_field (int)
# float_field  (float)
# date_field   (datetime)
