      - run:
          name: test
          command: cd {{{relative_path}}} && ./node_modules/.bin/jest  --ci --passWithNoTests --runInBand
          when:
            condition:
              equal: [ "https://github.com/grouparoo/grouparoo", << pipeline.project.git_url >> ]
