exports.default = async function buildConfig() {
  return [
    {
      class: "app",
      id: {{{id}}},
      name: {{{id}}},
      type: "{{{__pluginName}}}",
      options: {
        appId: "...", // OneSignal App ID
        apiKey: "..." // OneSignal REST API Key
      }
    },
  ];
};
