exports.default = async function buildConfig() {
  return [
    {
      class: "group",
      id: {{{id}}},
      name: {{{id}}},
      type: "manual",
      modelId: {{{modelId}}}, // The id of the Model that the Records in this Group belong to
    },
  ];
};
