# make a copy of this base: https://airtable.com/shrIyTUjyimSpc648
# This uses the Marketing Campaign Tracking Template with Campign and Results tables
# It has a table added named "All" that has all of the column types and 3 rows with values
# And a table that's a copy of "All" named "Empty" with no rows


AIRTABLE_API_KEY="keymNOO3zXjqdes2b"
AIRTABLE_BASE_ID="appA1Qak1T4cGoiP7"

AIRTABLE_ALL_TABLE_ID="tblsdYOTFAzBLHXTr"
AIRTABLE_EMPTY_TABLE_ID="tbln73pmkdKl4Khj1"
