# tests use the Marketing Campaign Tracking Template 
# the table data should be from the "Campaigns" table
# https://www.airtable.com/templates/featured/expNoL0sYUbOogSCm/marketing-campaign-tracking

AIRTABLE_API_KEY="keymNOO3zXjqdes2b"
AIRTABLE_BASE_ID="appA1Qak1T4cGoiP7"

AIRTABLE_CAMPAIGNS_TABLE_NAME="📣 Campaigns"
AIRTABLE_CAMPAIGNS_TABLE_ID="tblsdYOTFAzBLHXTr"

AIRTABLE_RESULTS_TABLE_NAME="📈 Results"
AIRTABLE_RESULTS_TABLE_ID="tblFPDCwyMJU8ok0w"
