exports.default = async function buildConfig() {
  return [
    {
      class: "teamMember",
      id: {{{id}}},
      email: {{{email}}},
      teamId: {{{team-id}}},
      options: {
        firstName: {{{first-name}}},
        lastName: {{{last-name}}},
        password: {{{password}}},
      },
    },
  ];
};
