exports.default = async function buildConfig() {
  return [
    {
      class: "teamMember",
      id: {{{id}}},
      email: "...", // The Email address of your Team Member
      teamId: {{{teamId}}}, // The ID of the Team that this Team Member belongs to
      options: {
        firstName: {{{id}}},
        lastName: "...",
        password: "...",
      },
    },
  ];
};
