exports.default = async function buildConfig() {
  return [
    {
      class: "teamMember",
      id: {{{id}}},
      email: "person@example.com",
      teamId: "admin_team", // The ID of the Team that this Team Member belongs to
      options: {
        firstName: {{{id}}},
        lastName: "Team Member",
        password: "P@ssword!",
      },
    },
  ];
};
