# Note: These are only needed when recording new nock fixtures
SALESFORCE_USERNAME = "demo@grouparoo.com"
SALESFORCE_PASSWORD = "jhfd!kjdgd43h"
SALESFORCE_SECURITY_TOKEN = "986273e87a3d9725fe3755c"
PARDOT_BUSINESS_UNIT_ID = "0Uvabcd3fgh1jklmn0"