# Note: These are only needed when recording new nock fixtures
SALESFORCE_USERNAME = "demo@grouparoo.com"
SALESFORCE_PASSWORD = "jhfd!kjdgd43h"
SALESFORCE_SECURITY_TOKEN = "986273e87a3d9725fe3755c"
PARDOT_BUSINESS_UNIT_ID = "0Uvabcd3fgh1jklmn0"
SALESFORCE_DOMAIN = "https://login.salesforce.com"
PARDOT_DOMAIN = "https://pi.demo.pardot.com"

# The pardot account should be set up to have have a few custom prospect fields
# There is one for each type of field:
# grouparoo_custom_textarea, grouparoo_custom_text, grouparoo_custom_radio_button, grouparoo_custom_number,
# grouparoo_custom_multiselect, grouparoo_custom_hidden, grouparoo_custom_dropdown, grouparoo_custom_date
# grouparoo_custom_user, grouparoo_custom_checkbox
