      - image: yandex/clickhouse-server
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
      - image: yandex/clickhouse-client
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD