# Note: These are only needed when recording new nock fixtures
CLOSEIO_API_KEY = "api_ZvpSAAq5n1oCs0YvgRlQ9Y.ehb3sd8ZmuyqiRy5UPxtRJ"

# The pipedrive account should be set up to have have a few custom Person & Organization fields
# There is one for each type of field:
# text_field, large_text_field, autocomplete_field, phone_field, single_option_field, multiple_option_field
# numerical_field, monetary_field, user_field, organization_field, person_field, time_field, time_range_field
# date_field, date_range_field, address_field
