exports.default = async function buildConfig() {
  return [
    {
      class: "app",
      id: {{{id}}},
      name: {{{id}}},
      type: "{{{__pluginName}}}",
      options: {
        siteName: "...", // Eloqua Site Name
        userName: "...", // Eloqua User Name
        password: "..." // Eloqua Password
      }
    },
  ];
};
