# Note: These are only needed when recording new nock fixtures
SNOWFLAKE_ACCOUNT = "xyz12345.us-east-1"
SNOWFLAKE_USERNAME = "JDOE"
SNOWFLAKE_PASSWORD = "ksjfjegwd"
SNOWFLAKE_WAREHOUSE = "COMPUTE_WH"
SNOWFLAKE_DATABASE = "SAMPLE_SOURCES_001"
SNOWFLAKE_SCHEMA = "PUBLIC"
