      - image: circleci/mysql:5
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
        environment:
          MYSQL_USER: $DOCKERHUB_USERNAME
          MYSQL_PASSWORD: $DOCKERHUB_PASSWORD
