  {{{job_name}}}:
    environment:
      GROUPAROO_TELEMETRY_ENABLED: "false"
    steps:
      - checkout
{{{restore_cache}}}
      - run:
          name: update apt
          command: sudo apt update
      - run:
          name: test-root
          command: cd {{{relative_path}}} && ./node_modules/.bin/jest ./__tests__/packages --ci --maxWorkers 2 --passWithNoTests
{{{custom_test}}}
