name: publish-docs
on:
  push:
    branches: [main]

jobs:
  publish_docs:
    runs-on: ubuntu-latest
    container:
      image: node
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - run: npm install -g pnpm
      - run: pnpm install --frozen-lockfile=false --unsafe-perm
      # - run: cd core && ./bin/publish-docs
      # - name: Push changes
      #   uses: ad-m/github-push-action@master
      #   with:
      #     github_token: ${{ secrets.GITHUB_TOKEN }}
      #     branch: gh-pages
      #     directory: core/gh-pages
      #     force: true
